body {
  background-color: #1C1C1C;
  background-image: url("../img/apple-background.jpg");
  background-size: cover;
  background-position: 50% 50%;
  color: #B8B2B2;
  font-size: 24px;
  font-family: AvenirNext-Regular;
  letter-spacing: 0.1px;
  width: 100%; }

a {
  color: #6d6464;
  text-decoration: none;
  cursor: pointer; }

.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px; }
  @media (max-width: 425px) {
    .container {
      width: 100%;
      margin-top: 16px; } }
  @media (min-width: 1024px) {
    .container {
      width: 1184px;
      margin-top: 0px; } }
  @media (max-width: 768px) {
    .container {
      width: 100%; } }
  .container nav {
    display: flex; }
    .container nav .logo {
      margin-left: 60px;
      margin-top: 60px; }
      @media (max-width: 425px) {
        .container nav .logo {
          margin-left: 32px; } }
    .container nav .menu {
      margin-left: auto;
      font-size: 32px;
      width: 200px;
      height: 150px;
      font-family: Klee-Medium;
      border-left: 2px solid #666666; }
      @media (max-width: 425px) {
        .container nav .menu {
          width: 150px;
          font-size: 25px; } }
      @media (min-width: 1024px) {
        .container nav .menu {
          width: 200px; } }
      .container nav .menu ul {
        list-style: none; }
        .container nav .menu ul li .link.active {
          text-decoration: line-through; }
  .container section#content {
    width: 80%;
    margin: auto;
    display: flex; }
    @media (min-width: 1024px) {
      .container section#content {
        margin-top: -64px; } }
    @media (max-width: 425px) {
      .container section#content {
        width: 85%; }
        .container section#content .left, .container section#content .right {
          position: absolute;
          width: 80%;
          text-align: center; } }
    .container section#content .left, .container section#content .right {
      width: 350px; }
      .container section#content .left p, .container section#content .right p {
        margin-top: 150px; }
    .container section#content .left {
      text-align: right; }
    .container section#content .right p:first-child {
      margin-top: 60px; }

.my-name {
  font-family: Bauhaus93;
  text-shadow: 0 0 4px rgba(100, 100, 100, 0.5); }
