@import url("https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Quicksand");
* {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1em;
  color: 222;
}
a {
  transition: all 0.3s;
}
.quicksand {
  font-family: 'Quicksand', sans-serif;
}
.poiret {
  font-family: 'Poiret One';
}
.indie {
  font-family: 'Indie Flower', cursive;
}
.navbar {
  margin-bottom: 0;
}
.navbar .navbar-header .navbar-brand {
  padding: 5px;
}
.navbar .navbar-header .navbar-brand img {
  max-width: 50px;
}
section {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 1.5em;
  box-shadow: inset 0 0 5px #000;
}
section .section-header {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Poiret One';
  text-decoration: underline;
}
section .section-header h1 {
  font-size: 4em;
}
section .section-content {
  padding: 10px;
}
section#intro .intro-text {
  position: absolute;
  color: #fff;
  z-index: 1;
  font-size: 2em;
  margin: 50px;
  left: 0;
  right: 0;
  margin-top: 10px;
}
section#intro #intro-carousel .carousel-inner .item {
  background-color: #222;
}
section#intro #intro-carousel .carousel-inner .item p {
  font-family: 'Indie Flower', cursive;
}
section#about {
  display: flex;
  flex-direction: column;
}
section#about .section-content {
  align-self: flex-end;
  margin: 50px;
  margin-top: auto;
}
section#about .section-content img {
  max-height: 500px;
}
section#skills .section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section#skills .section-content .skill {
  width: 300px;
  margin: 50px;
  text-align: center;
}
section#skills .section-content .skill img {
  width: 100%;
}
section#portfolio ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section#portfolio ul li {
  padding: 10px;
  text-align: center;
  transition: all 0.3s;
  filter: blur(2px) greyscale(100%);
  -webkit-filter: blur(2px) grayscale(100%);
}
section#portfolio ul li a {
  font-family: 'Indie Flower', cursive;
  color: #656565;
}
section#portfolio ul li a img {
  box-shadow: 0 0 10px #000;
}
section#portfolio ul li:hover {
  filter: blur(0px) greyscale(0%);
  -webkit-filter: blur(0px) grayscale(0%);
}
section#portfolio ul li:hover a {
  color: #337ab7;
}
