@import url("https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower");
.poiret {
  font-family: 'Poiret One';
}
.indie {
  font-family: 'Indie Flower', cursive;
}
.navbar {
  margin-bottom: 0;
}
section {
  height: 100vh;
}
section#intro .intro-text {
  position: absolute;
  color: #fff;
  z-index: 1;
  font-size: 2em;
}
