$light:      #B8B2B2;
$dark:       #1C1C1C;
$accent:		 #D1D1D1;

$small: 425px;
$big: 1024px;
$tablet: 768px;

body {
	background-color: $dark;
	color: $light;
	font-size: 24px;
	font-family: AvenirNext-Regular;
	letter-spacing: 0.1px;
	width: 100%;
}

a {
	color: darken($light, 30%);
	text-decoration: none;
	cursor: pointer;
}

.container {
	width: 1024px;
	margin: {
		left: auto;
		right: auto;
		top: 64px;
	}
	@media (max-width: $small) {
		width: 100%;
		margin-top: 16px;
	}
	@media (min-width: $big) {
		width: 1184px;
		margin-top: 0px;
	}
	@media (max-width: $tablet) {
		width: 100%;
	}

	nav {
		display: flex;

		.logo {
			margin: {
				left: 60px;
				top: 60px;
			}

			@media (max-width: $small) {
				margin-left: 32px;
			}
		}

		.menu {
			margin-left:auto;
			font-size: 32px;
			width: 200px;
			height: 150px;
			font-family: Klee-Medium;
			border-left: 2px solid darken(white, 60%);

			@media (max-width: $small) {
				width: 150px;
				font-size: 25px;
			}

			@media (min-width: $big) {
				width: 200px;
			}

			ul {
				list-style: none;
				li {
					.link {
						&.active {
							text-decoration: line-through;
						}
					}
				}
			}
		}
	}

	section {
		&#content {
			width: 80%;
			margin: auto;
			display: flex;
			@media (min-width: $big) {
				margin-top: -64px;
			}
			@media (max-width: $small) {
				width: 85%;

				.left, .right {
					position: absolute;
					width: 80%;
					text-align: center;
				}
			}

			.left, .right {
				width: 350px;

				p {
					margin-top: 150px;
				}
			}

			.left {
				text-align: right;
			}

			.right {
				p:first-child {
					margin-top: 60px;
				}
			}
		}
	}
}

.my-name {
	font-family: Bauhaus93;
	text-shadow: 0 0 4px rgba(100,100,100,0.5);
}
