doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='keywords' content='developer, full stack, programmer')
		meta(name='description' content='Alpha Shuro\'s personal website.')

		title i am alpha shuro
		
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel='shortcut icon' href='img/logo.ico' type='image/x-icon')
		link(rel='stylesheet', href='css/main.css')
	body
		.container
			header
				nav
					.logo
						svg(width='100px', height='65px' color="white")
							image(xlink:href="img/logo.svg" width="100" height="65" color="white")
					.menu
						ul
							li
								a.link.active(href='/') about me
							li
								a.link(href='the-blog.html') the blog
			section#content
				.left
					p.my-name
						| i'm 
						strong alpha
						| .
					
					p
						| i mostly write 
						strong javascript
						| .
					p
						| i like 
						strong living
						| .
				.right
					p
						strong hi
						| .
					p
						| i'm a 
						strong software developer
						| .
					p
						| i like 
						strong philosophy
						|  and 
						strong ai
						| .
					p
						| mail 
						a(href='mailto:me@alphashuro.com')
							strong me@alphashuro.com
						| .
